/*--------------------header--------------------*/
	#header{
		@include boxset-pc;
		padding-top: 15%;
		@include mediaquery-tablet {
			@include boxset-tab;
			padding-top: 15%;
		}
		@include mediaquery-smartphone {
			@include boxset-sm;
			padding-top: 18%;
		}
		@include mediaquery-Xsmartphone {
			@include boxset-Xsm;
			padding-top: 70%;
		}
		h1{
			float: left;
			margin-bottom: 20px;
			margin-right: 20px;
			@include mediaquery-Xsmartphone {
				margin-bottom: 10px;
			}
			@media only screen and (max-width: 1513px){
				float: none;
			}
		}
		h2{
			margin-left: 1.2%;
		}
		.day{
			margin-top: 60px;
			margin-left: 10px;
			font-size: 3em;
			@include mediaquery-smartphone {
				font-size: 2.5em;
			}
			@include mediaquery-Xsmartphone {
				font-size: 1.5em;
				margin-left: 5px;
			}
			@media only screen and (max-width: 1513px){
				margin-top: 10px;
			}
		}/*------------day------------*/
		.ctc{
			font-size: 4em;
			margin-top: 8%;
			text-align: center;
			@media only screen and (min-width: 1100px) and  (max-width: 1513px) {
				position: relative;
				left: 3.5em;
				bottom: 2em;
				margin-top: 0;
			}
			@media only screen and (min-width: 1514px){
				position: absolute;
				left: 9em;
				top: 10em;
				margin-top: 0;
			}
			@include mediaquery-tablet {
				font-size: 3.5em;
				margin-top: 6%;
			}
			@include mediaquery-smartphone {
			}
			@media only screen and (min-width: 500px) and (max-width: 637px){
				font-size: 3em;
				margin-top: 7%;
			}
			@media only screen and (max-width: 499px){
				font-size: 1.7em;
				margin-top: 5%;
				text-align: left;
			}
		}/*----------ctc----------*/
		.arrow{
			a{
				margin-top: 5%;
			}
		}
	}/*---------------------header-------------------*/

